.mu-single-counter {
  color: #fff;
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

.mu-single-counter h3 {
  font-size: 50px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 15px;
  margin-top: 0;
}

.mu-single-counter h3 sup {
  font-weight: normal;
  display: inline-block;
  font-size: 35px;
}

.mu-single-counter p {
  font-size: 18px;
  letter-spacing: 1.5px;
}

#spanlogo {
    border-radius: 5px;
    padding: .5vw .5vw;
    display: inline-block;
}

.mapouter {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

#gmap_canvas {
  border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

input {
  color: #fff;
}

#success, #error {
  display: none;
}